/* Body */
body {
    background-color: rgba(233, 0, 233, 0.11);
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: medium;

    color: #333333;

/* Überschriften */
h1 {
    font-size: 36px;
    color: rgb(168, 24, 212);
    text-decoration: underline;
}

h2 {
    font-size: 20px;
    color: rgb(168, 24, 212);
    text-transform: uppercase;
  
}



